@using DataAccessLibrary.Entities;
@using Microsoft.AspNet.Identity;
@model IEnumerable<Appeal>

@{
    ViewBag.Title = "Обращения";
}

<h1>Обращения</h1>

<p>
    @Html.ActionLink("Написать обращение", "Create")
</p>

@if (Model.Where(x => x.User.Id.Equals(User.Identity.GetUserId())).Count() == 0)
{
    <tr>
        <td colspan="3" class="text-center">У вас нет ни одного обращения</td>
    </tr>
}
else
{
    List<Appeal> appeals = Model.Where(x => x.User.Id.Equals(User.Identity.GetUserId())).ToList();

    foreach (var item in appeals)
    {
        <h2>@Html.DisplayFor(modelItem => item.Theme)</h2>
        <h3>@Html.DisplayFor(modelItem => item.Text)</h3>
        <p>
            @Html.DisplayFor(modelItem => item.PublishDate)
            @using (Html.BeginForm("Delete", "Appeals", new { appeal = item }))
            {
                <button class="btn btn-danger btn-xs" type="submit">Удалить</button>
            }
        </p>
        <hr/>
    }
}
