@model AppealWeb.Models.UserModel

@{
    ViewBag.Title = "Регистрация";
}


<h2>Регистрация</h2>

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-10">
            <label>Имя пользователя</label>
            <input id="Username" class="form-control" data-bind="value: Username, valueUpdate: 'afterkeydown'" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Почта</label>
            <input id="Email" name="Email" type="email" class="form-control" data-bind="value: Email" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Пароль</label>
            <input id="Password" type="password" name="Password" class="form-control" data-bind="value: Password" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Подтвердите пароль</label>
            <input id="PassConfirm" type="password" name="PassConfirm" class="form-control" data-bind="value: ConfirmPassword" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md col-md-10">
            <input id="submitBtn" type="button" data-bind="click: registerBtn" value="Зарегистрироватся" class="btn btn-primary" />
            <button class="btn btn-default" id="cancelBtn" data-bind="click: cancelBtn">Отмена</button>
        </div>
    </div>

</div>

<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/knockout.validation.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ru-RU.js"></script>
<script src="~/Scripts/createUser.js"></script>